{# src/NH/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "NHPlatformBundle::layout.html.twig" %}

{% block body %}
<h2>Ajouter une annonce</h2>

{{ include("NHPlatformBundle:Advert:form.html.twig") }}
<p>Annonces ajoutées directement sur la page d'accueil après validation du FORMULAIRE</p>
{% endblock %}