{# src/NH/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "NHCoreBundle::layout.html.twig" %}

{% block body %}
<h2>fonction ADD / AJOUTER ANNONCE</h2>

{{ include("NHPlatformBundle:Advert:form.html.twig") }}
<p>Annonces ajoutées directement sur la page d'accueil après validation du FORMULAIRE</p>

{% endblock %}

{# A MODIFIER EN S'INSPIRANT DE EDIT #}
