{# src/NH/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# vue qui n'hérite de personne, juste incluse par d'autres vues qui hériteront
du layout#}

<h3>Formulaire d'annonce : </h3>

<div class="well">
    <p>titre : </p>
    <p>id : </p>
    <p>author : </p>
    <p>content : </p>
    <p>date : </p>
</div>