{# src/NH/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# vue qui n'hérite de personne, juste incluse par d'autres vues qui hériteront
du layout#}

<h3>nouvelle annonce : </h3>

<div class="well">
    <p>titre : </p>
    <p>author : </p>
    <p>content : </p>
    <p>date : </p>
</div>