{# src/NH/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# vue qui n'hérite de personne, juste incluse par d'autres vues qui hériteront
du layout#}

<h3>Formulaire rentré dans le fichier form.html.twig : </h3>

<div class="well">
    <p>on laisse vide la vue on la comblera avec le formulaire créé
    on est dans la vue form.html.twig</p>

    <form action="{{ path('nh_platform_add') }}" type="post">
        <input type="submit">
    </form>
</div>