<DOCTYPE html>
    <html>
    <head>
        <title>Bienvenue sur ma 1ère page avec Symfony</title>
    </head>
    <body>
    <h1>Hello World!</h1>

    <p>
        Réalisation d'une tâche simple!
    </p>
    <h1>Hello {{ nom }} !</h1>
    </body>
    </html>