<DOCTYPE html>
    <html>
    <head>
        <title>Seconde page</title>
    </head>
    <body>
    <h1>Bye Bye World</h1>

    <p>
        Réalisation d'une seconde page!
    </p>
    </body>
    </html>